{% extends 'base.html' %}
{% block content %}
    <h1>Welcome to Our Hospital</h1>
    <p>Get the best treatment you can avail without any rush and difficulties. All at your fingertips. Enable the service of the best doctors in Kerala.</p>

    <h1>Lab Reports and Prescriptions at Your Fingertips</h1>
    <p>Our robust system allows patients to view their lab records, prescriptions and treatment plans in a single click.</p>

    <h1>Manage Appointments</h1>
    <p>View and manage all of your appointments with doctors any time from any where.</p>
{% endblock %}